*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jasefin Sans', sans-serif;
    box-sizing: border-box;
}

.background{
    background-image: url(background\ 01.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%; 
} 

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav h2{
    color: #242121;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 2px;
}

span{
    color: #fa0553;
}

nav ul li{
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
}

nav ul li a{
    color: #0e0c0c;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transform: scale(1.2);
}

.btn{
  background-color: #f9004d;
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.mian{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50);
}

h4{
    color: #040405;
    letter-spacing: 2px;
    font-size: 20px;
}

h1{
color: #301a1a;
margin: 20px 0 20px;
font-size: 75px;
}

h3{
    color: #070707a4;
    font-size: 25px;
    margin-bottom: 50px;
}

.Container-btn form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.Container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border-radius: 30px;
    outline: none;
}
.Container-btn form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #f9004d;
    color: #fff;
    box-shadow: 0px 0px 15px #858585;
    right: 6px;
    top: 6px;
}

